@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>

<ul>
    <li><a asp-controller="Product" asp-action="Index">Kelola Produk</a></li>
    <li><a asp-controller="Profile" asp-action="Index">Kelola User</a></li>
    <li><a asp-controller="Order" asp-action="Index">Kelola Transaksi</a></li>
</ul>
